*

# .config
################################################################################
!.config
.config/*

!.config/alacritty
!.config/alacritty/alacritty.yml

!.config/rustfmt
!.config/rustfmt/rustfmt.toml
################################################################################
