*

# .config
################################################################################
!.config
.config/*

!.config/alacritty
!.config/alacritty/alacritty.yml
################################################################################
